h4, p, li, th, td{
    color: gray;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#contact{
    width: 30%;
    border-right: 1px solid gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact-info{
    width: 80%;
    margin: 0 auto;
}

#pp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#info{
    width: 70%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}